<div class="container">
    <nav class="navbar navbar-default">
      <header class="navbar-header">
        <h1 class="navbar-brand">Node Chat チャットルーム</h1>
      </header>
    </nav>
    <div class="row">
        <form method="post" action="/">
            <div class="room-header">
                    <div class="room-login_user">
                        ログインユーザ : <% userName %>さん
                        <input id="userName" type="hidden" value="{{userName}}">
                    </div>
                <div id="systemlog"></div>
                <div class="room-exit">
                    <input type="button" value="退室する" class="common-button room-exit_button" @click="exit();">
                    <input type= "button" value="目立たせる" class="self-expression" @click="expressionPushed = !expressionPushed;">
                    <input type="button" class="self-expression" value="並び替え" @click="orderby()">
                </div>

                <ul>
                    <li v-for="user of users"><% user.userName %>:<% user.enterTime %></li>
                </ul>
            </div>
            <div class="room-body">
                <div class="room-thread">
                    <div id="thread">
                        <p v-for='md of messages'　class="message-box">
                            <template v-if ="md.kind == '入室' || md.kind == '退出' " class="message">
                                <div class="room-alert">
                                    <span class="message"><% md.message %></span>
                                </div>
                            </template>
                            
                            <template v-else-if="md.userName != userName">
                                <p class=""><% md.userName %>さん:</p><p class="message"><% md.message %></p>
                                <label class="message-delete" @click="deleteMessage(md.id)">削除する</label>
                            </template>
                            
                            <template v-else>
                                <p :class="{'expression': expressionPushed }"><% md.userName %>さん</p><template v-if="md.kind == 'メモ' ">のメモ</template>
                                :<p class="message" ><% md.message %></p>
                                <label class="message-delete" @click="deleteMessage(md.id)">削除する</label>
                            </template>
                            <% md.postDateTime %>       
                        </p>
                    </div>
                </div>
            </div>
            <div class="room-message">
                <textarea v-model='message' id="message" rows="4" class="room-message_textarea" placeholder="投稿文を入力してください"></textarea>
                <div>
                    <input type="button" value="投稿" id="publish-button" class="common-button room-publish_button" @click="publish();">
                    <input type="button" value="メモ" class="common-button room-memo_button" @click="memo();">
                </div>
            </div>
        </form>
    </div>
</div>

<!--tamplate id="thread-template">
<div class="card">
<p class="post_name inner_card"></p>
<p class="post_text inner_card"></p>
</div>
</tamplate-->
<script src="/javascripts/socket.js"></script>
<!--script src="/javascripts/enter.js"></script-->
<script src="/javascripts/publish.js"></script>
<!--script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script>
<script src="/javascripts/selfExpression.js"></script-->
<script src="/javascripts/users.js"></script>
<script src="/javascripts/message.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="/javascripts/room.js"></script>
<script src="/javascripts/time.js"></script>
