<div class="container">
    <nav class="navbar navbar-default">
      <header class="navbar-header">
        <h1 class="navbar-brand">Node Chat サンプル</h1>
      </header>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </nav>
    <div class="row">
        <form method="post"  action="/">
            <div>
                <div class="member-list" class="col-sm member-list">
                    <p>出席メンバー</p>
                    <template v-if="showMember && users.length > 0">
                        <input type="button" class="btn btn-info" value="閉じる" @click="showMember = false;">
                        <ul class="list-group">
                            <li @click="directMessageUserName = '';" class="list-group-item">DM解除</li>
                            <li v-for="user of users"  class="list-group-item member" 
                            :class="{ active: user.userName == directMessageUserName }"@click="directMessageUserName = user.userName;"><% user.userName %>さん</li>
                        </ul>
                    </template>
                    <template v-else><input type="button" class="btn btn-info" value="メンバーを表示" @click="showMember = true;"></template>
                </div>
                <div class="room-header">
                        <div class="room-login_user">
                            ログインユーザ : <% userName %>さん
                            <input id="userName" type="hidden" value="{{userName}}">
                        </div>
                    <div id="systemlog"></div>
                    <div class="room-exit">
                        <input type="button" value="退室する" class="btn btn-danger" @click="exit();">
                        <input type= "button" value="目立たせる" class="btn btn-primary" @click="expressionPushed = !expressionPushed;">
                        <input type="button"  class="btn btn-primary" value="並び替え" @click="orderby()">
                    </div>
                </div>
                <div class="room-body">
                    <div class="room-thread">
                        <div id="thread">
                            <p v-for='md of messages'　class="message-box">
                                <template v-if ="md.kind == '入室' || md.kind == '退出' " class="message">
                                    <div class="room-alert">
                                        <p class="message"><% md.message %></p>
                                    </div>
                                </template>
                                
                                <template v-else-if="md.userName != userName">
                                    <p class=""><% md.userName %>さん:</p><p class="message"><% md.message %></p>
                                    <label class="message-delete" @click="deleteMessage(md.id)">削除する</label>
                                </template>

                                <template v-else>
                                    <p :class="{'expression': expressionPushed }"><% md.userName %>さん</p><template v-if="md.kind == 'メモ' ">のメモ</template>
                                    :<p class="message" ><% md.message %></p>
                                    <label class="message-delete" @click="deleteMessage(md.id)">削除する</label>
                                </template>
                                <% md.postDateTime %>       
                            </p>
                        </div>
                    </div>
                </div>
                <div class="room-message">
                    <textarea v-model='message' id="message" rows="4" class="room-message_textarea" placeholder="投稿文を入力してください"></textarea>
                    <div class="submit">
                        <input type="button" value="投稿" class="btn" :class="{ 'btn-secondary' : !canPublish,'btn-success': (canPublish) }" 
                        id="publish-button"  @click="publish();">
                        <input type="button" value="メモ" class="btn btn-success" @click="memo();">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--tamplate id="thread-template">
<div class="card">
<p class="post_name inner_card"></p>
<p class="post_text inner_card"></p>
</div>
</tamplate-->
<script src="/javascripts/socket.js"></script>
<!--script src="/javascripts/enter.js"></script-->
<script src="/javascripts/publish.js"></script>
<!--script src="/javascripts/memo.js"></script-->
<script src="/javascripts/exit.js"></script>
<!--script src="/javascripts/selfExpression.js"></script-->
<script src="/javascripts/users.js"></script>
<script src="/javascripts/message.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/room.js"></script>
<script src="/javascripts/time.js"></script>
